@charset "UTF-8";
body,
html {
	background: $white;
	color: $font_color;
}
main {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	&.is-big {
		width: 3rem;
		height: 3rem;
	}
}
