.date {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
}
#comments {
	color: #383838;

	.message-text {
		background: #f6f5fd;
		border-radius: 8px;
		color: #383838;
		padding: 1rem;
		font-size: 16px;
		line-height: 20px;
		position: relative;
	}
	.message-comment {
		margin-bottom: 1rem;
	}
	.message-comment-pseudo {
		color: #3e3882;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin: 8px 0px;
	}
	.left-point {
		width: 0;
		height: 0;
		border-left: 0.5rem solid transparent;
		border-right: 0.5rem solid transparent;
		border-top: 0.5rem solid #f6f5fd;
		position: absolute;
		top: 69%;
		left: -0.7rem;
		transform: rotate(88deg);
	}
}
#new_comment {
	min-height: 80px;
	width: 100%;
}
.new-comment-section {
	margin-bottom: 2rem;
}
